<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138331289529-pjerhcm0ifd9o47vdadk4ftejsfvq51a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138331289529-pjerhcm0ifd9o47vdadk4ftejsfvq51a</string>
	<key>API_KEY</key>
	<string>AIzaSyDSI_7Dd2zFZDar1kzLGlC1B-xKFuKuZdk</string>
	<key>GCM_SENDER_ID</key>
	<string>138331289529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fermoran.Bufetec10</string>
	<key>PROJECT_ID</key>
	<string>bufetectest</string>
	<key>STORAGE_BUCKET</key>
	<string>bufetectest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138331289529:ios:8f1075b417f3648cc82868</string>
</dict>
</plist>